#root {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
}
.divv{
height: 100vh;
align-items: center; 
 justify-content: center; 
  display: flex;
}
.biggun {
  font-size:80px;
  color: rgb(11, 1, 22);
  padding: 10px 20px;
 

  text-decoration: none;
}

.big{
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
}
  
.biggun:hover{

  color: rgb(5, 106, 5);
}


.nonhomescreen{
  background-color: rgb(4, 104, 4);
  height: 120vh;
  
}

.pic{
  size:10px;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh); /* Move down the viewport */
    opacity: 0; /* Fade out */
  }
}

.animate-fall {
  animation-name: fall;
  animation-fill-mode:forwards; /* Keep the final state of the animation */
}
